.alert-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.alert {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  max-width: 500px;
  text-align: center;
  box-shadow: 3px 3px 5px 1px #2c0d0f;
  background-color: #ca3e47b4;
}
