.button {
  margin: 0 1px;
  border: none;
  height: 32px;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 15px;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  cursor: pointer;
  transition: background-color 0.1s;
}

.button-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
  border: none;
  height: 32px;
  width: 32px;
  font-size: 14px;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  cursor: pointer;
  transition: background-color 0.1s;
}

.button-primary {
  background-color: #1677ff;
  color: #fff;
}

.button-primary:hover {
  background-color: #4096ff;
}

.button-primary:active {
  background-color: #0958d9;
}

.button-primary:disabled {
  background-color: #a9caf8;
}

.button-secondary {
  background-color: #7b959c;
  color: #fff;
}

.button-secondary:hover {
  background-color: #677c82;
}

.button-secondary:active {
  background-color: #49585c;
}

.button-secondary:disabled {
  background-color: #d1e4e9;
}
