.main {
  margin: auto;
  max-width: 1000px;
}

.header {
  text-align: center;
  font-size: 24px;
}

.header-name {
  color: #a3a3a3;
}

.order-container {
  display: flex;
  justify-content: center;
}

.order-detail-container {
  padding: 24px;
}

.order-detail {
  margin-bottom: 32px;
}

.order-detail-header {
  font-size: 18px;
  color: #a3a3a3;
}

.order-detail-button {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.product-container {
  text-align: center;
  padding: 24px;
  border-left: 1px solid #a3a3a371;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.product-header {
  font-size: 18px;
  color: #a3a3a3;
  flex-grow: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  padding: 4px 16px;
  background-color: #292929;
  color: #a3a3a3;
}
