:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #313131;
  color: #fff;
}

@media print {
  body {
    margin: 0;
    background-color: #fff;
    color: #000;
  }
}
